<form #addrestaurantForm="ngForm" (ngSubmit)="submit(addrestaurantForm)">
  <div>
    <input #titre="ngModel" type="text" name="nom" [(ngModel)]="formData.nom" [maxlength]="15" [required]="true"/>
    <span *ngIf="titre.dirty && titre.errors?.['required']" appErrorDirective>Pas valide</span>
  </div>
  <div>
    <div>
      <input #titre="ngModel" type="text" name="adresse" [(ngModel)]="formData.adresse" [maxlength]="15" [required]="true"/>
      <span *ngIf="titre.dirty && titre.errors?.['required']" appErrorDirective>Pas valide</span>
    </div>
    <div>
    <button type="submit">Submit</button>
  </div>
  </div>
</form>

